body {
  /* default color */
  background: rgb(79, 116, 91);
  text-align: center;
}
h1 {
  text-align: center;
}
img {
  width: 160px;
  height: 200px;
  float: center;
}
.bg0 {
  background: LightSlateGray;
}

.bg1 {
  background: Darkslategray;
}

.bg2 {
  background: lightcoral;
}