@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body,
html {
  /* default color */
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 2px;
}
header {
  height: 400px;
  background-color: rgb(255, 221, 170);
  border-radius: 15px;
}
h1 {
  text-align: left;
  margin-left: 100px;
  font-family: 'Lora', serif;
  font-size: 50px;
  color: grey;
  padding: 50px;
}

p {
  font-family: 'Lora', serif; 
}

img {
  width: 160px;
  height: 200px;
  float: right;
  display: wrap;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.bg0 {
  background: lightgoldenrodyellow);
}

.bg1 {
  background: rgb(247, 154, 142);
}

.bg2 {
  background: rgb(247, 232, 145);
}

figure {
  width: 300px;
  position: space-between;
  float: wrap;
  height: 300px;
  flex-direction: row;
  margin-left: 4em;
  margin-bottom: 4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.gallery {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(233, 141, 121, 1) 0%,
    rgba(233, 225, 148, 1) 100%);
border-radius: 15px;
margin-left: 20px;
max-width: 100%;
}
.gallery img {
  width: 300px;
  height: 200px;
  transition-duration: 2ms;
}

.gallery img:hover {
}

button {
  background-color: #ff9ccd;
  color: #fffdd0;
  font-family: "Asap", sans-serif;
  height: 30px;
  width: 50px;
  border: solid 2px #3e3838;
  padding: 10px;
  position: center;
  margin-left: 210px;
  margin-bottom: 10px;
}

.box {
  background-color: rgb(255, 221, 170);
  height: 300px;
  max-width: 100%;
  padding: 15px;
  border-radius: 15px;
 margin: 15px;
}

footer {
  height: 100px;
  background-color: rgb(255, 174, 174);
  border-radius: 15px;
  padding: 20px;
}
